*{
    font-family: 'Jura', sans-serif;
    color: white; 
    overflow-x: hidden;
}
body{
    background-color: #090909;
    overflow-x: hidden;

}
#home{
    background-image: url("./asserts/baground\ image.jpg");
    background-size: 100% 105%;
    background-repeat: no-repeat;
    height: 500px;
}

#home p{
    color: white;
}
#home h1{
    color: white;
}

#home h1{
    position: relative;
    font-size: 5.5rem;
    left: 45%;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    top: 220px;
}
#cs{
    position: relative;
    font-size: 2.5rem;
    font-family: 'Jura', sans-serif;
    left: 45%;
    top: 180px;
}
nav{
    position: relative;
    left: 40px;
    bottom: 180px;
    display: flex;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: x-large;
    font-family: 'Jura', sans-serif;
    margin-left: 30px;
}
a:hover{
    text-decoration: underline;
}
.aboutme{
    position: relative;
    padding-top: 200px;
    background-color: #ECECEC;
}
.aboutme h1{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-family: 'Jura', sans-serif;
}
.aboutme p{
    color: rgb(0, 0, 0);
    font-family: 'Jura', sans-serif;
    font-size: 1.5rem;
    position: relative;
    bottom: 20px;
    width: 850px;
}
#aboutme{
    position: relative;
    left: 120px;
    bottom: 150px;
    font-size: 3rem;
    font-family: 'Jura', sans-serif;
}
.qestions{
    position: relative;
    left: 220px;
    bottom: 170px;
}
/* skills */

.myskills h1{
    position: relative;
    color: white;
}
.myskills p{
    position: relative;
    color: white;
}

.html #html{
    position: relative;
    height: 290px;
}

.frontend{
    display: flex;
    width: 70%;
}
.showcase{
    position: relative;
    left: 240px;
}
#frontend{
    color: white;
    position: relative;
    left: 120px;
    font-size: 2.5rem;
    font-family: 'Jura', sans-serif;
}
#skills{
    font-size: 3rem;
    font-family: 'Jura', sans-serif;
    color: white;
    position: relative;
    left: 120px;
}
.myskills h1{
    position: relative;
    right: 70px;
    font-family: 'Jura', sans-serif;
    font-size: 2.7rem;
}

/* skills */
.skills1,.skills2,.skills3{
    overflow: hidden;
    width: 240px;
    height: 240px;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
}
.outer1,.outer2,.outer3{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /* border: 1px solid rgb(205, 26, 26); */
    padding: 15px;
}
.inner1,.inner2,.inner3{
    position: absolute;
    left: 55px;
    top: 43px;
    height: 240px;
    width: 240px;
    border-radius: 50%;
}
circle{
    fill: none;
    stroke: rgb(20, 255, 247);
    stroke-width: 10px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 3s linear forwards;
}
@keyframes anim {
    100%{
        stroke-dashoffset: 30;
    }
    
}

#jsx{
    fill: none;
    stroke: rgb(20, 255, 247);
    stroke-width: 10px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim2 3s linear forwards;
}
@keyframes anim2 {
    100%{
        stroke-dashoffset: 60;
    }
    
}
#rjsx{
    fill: none;
    stroke: rgb(20, 255, 247);
    stroke-width: 10px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim3 3s linear forwards;
}
@keyframes anim3 {
    100%{
        stroke-dashoffset: 140;
    }
    
}

#py{
    fill: none;
    stroke: rgb(20, 255, 247);
    stroke-width: 10px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim4 3s linear forwards;
}
@keyframes anim4 {
    100%{
        stroke-dashoffset: 100;
    }
    
}
#cpp{
    fill: none;
    stroke: rgb(20, 255, 247);
    stroke-width: 10px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim5 3s linear forwards;
}
@keyframes anim5 {
    100%{
        stroke-dashoffset: 170;
    }
    
}
svg{
    position: relative;
    bottom: 185px;
    left: 15px;
}
#htmlimg{
    position: absolute;
    left: 40px;
    top: 165px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#cssimg{
    position: absolute;
    left: 465px;
    top: 180px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#jsimg{
    position: absolute;
    left: 1170px;
    top: 1992px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#rjsimg{
  position: absolute;
  bottom: 80px;
  left: 86px;
}
#cppimg{
    position: absolute;
    top: 2545px;
    left: 1050px;
}

#num1,#num2,#num3,#num4,#num5,#num6{
    position: relative;
    top: 10px;
    left: 70px;
    font-size: 1.5rem;
}
.css{
    position: relative;
    left: 420px;
    bottom: 255px;
}
.js{
    position: relative;
    left: 1120px;
    bottom: 510px;
}
.react{
    position: relative;
    left: 47px;
}
.cpp{
    position: relative;
    bottom: 1070px;
    left: 1000px;
}
.frameworks{
    position: relative;
    bottom: 750px;
    left: 370px;
}
#framework{
    font-size: 2.5rem;
}

#pgm{
    position: relative;
    bottom: 800px;
    left: 370px;
}
#pgm h2{
    font-size: 2.5rem;
}
/* my works */
#myworks{
    overflow-y: hidden;
    background-color: #ECECEC;
    position: relative;
    bottom: 500px;
}
#myworks h1{
    position: relative;
    left: 120px;
    color: black;
    font-size: 2.5rem;
}
#myworks p{
    position: relative;
    left: 190px;
    color: black;
    font-size: 2rem;
    font-weight: 900;
}
.github,.github2{
    display: flex;
    justify-content: space-evenly;
}
.github2{
    position: relative;
    top: 120px;
}
#cosmo{
    z-index: 1001;
    overflow-y: hidden;
    position: relative;
    left: 40px;
    border-radius: 21px;
    background: linear-gradient(295deg, rgba(47, 80, 255, 0.54) -9.57%, rgba(0, 0, 0, 0.00) 124.6%);
    transition: all 0.7s;
    width: 420px;
    height: 90px;
    font-size: 1.2rem;
}
#cosmo:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#cosmo h3{
    color: black;
    padding-left: 20px;
}
.type{
    position: relative;
    left: 340px;
    bottom: 45px;
    border: 1px solid black;
    border-radius: 20px;
    width: 50px;
    padding-left: 7px;
    padding-right: 9px;
    color: black;
}
.type2{
    position: relative;
    bottom: 30px;
    left: 20px;
    color: black;
    font-size: 0.7rem;
}
.figma{
    overflow-y: hidden;
    position: relative;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}
.images img{
    height: 160px;
}
.images h3{
    position: relative;
    left: 30px;
    bottom: 10px;
    color: black;
    font-size: 1.5rem;
}
.images{
    overflow-y: hidden;
    border-radius: 20px;
    right: 200px;
    padding-top: 120px;
    position: relative;
    transition: all 0.7s;
}
.images:hover{
    transform: scale(1.2);
}
